id(int) domain(string) did(string) last_modified(int)
{% for host in groups['router_host'] %}
{{ loop.index }}:{{ hostvars[host].ansible_default_ipv4.address }}:{{ hostvars[host].ansible_default_ipv4.address }}:0
{% endfor %}
