[DEFAULT]
database_uri = postgresql://wazo_router_confd:wazo_router_confd@127.0.0.1/wazo_router_confd
redis_uri = redis://localhost:6379/1
debug = True
host = 127.0.0.1
wazo-auth = True
wazo-auth-url = http://127.0.0.1:9497/api/auth/0.1
