db_uri: postgresql://{{ engine_api_db_confd_user }}:{{ engine_api_db_confd_password }}@{{ engine_api_db_host}}:{{ engine_api_db_port }}/{{ engine_api_db_confd_name }}
listen_address: {{ engine_api_listen_address }}
