ami:
  host: {{ b2bua_host }}
  port: {{ b2bua_port_ami }}
  username: {{ ami_username }}
  password: {{ ami_password }}

ajam:
  host: {{ b2bua_host }}
  port: {{ b2bua_port_https }}
  username: {{ ami_username }}
  password: {{ ami_password }}
  verify_certificate: false
