## config/kamailio.cfg

#!KAMAILIO
#
# Kamailio SIP Server v5.1 - Wazo C5
# v1.0
#
#-- AGPL License

include_file "include/vars.cfg"
include_file "kamailio-local.cfg"
include_file "include/flags.cfg"
include_file "include/modules.cfg"
include_file "include/request_route.cfg"
include_file "include/relay.cfg"
include_file "include/reqinit.cfg"
include_file "include/withindlg.cfg"
include_file "include/dlguri.cfg"
include_file "include/registrar.cfg"
include_file "include/location.cfg"
include_file "include/presence.cfg"
include_file "include/auth.cfg"
include_file "include/nat.cfg"
include_file "include/pstn.cfg"
include_file "include/dispatch.cfg"
include_file "include/websocket.cfg"

