## config/kamailio-local.cfg

##!define DBURL "postgres://kamailio:mypass@1.1.1.1:5432/kamailiopyfb"
#!define DBURL "postgres://{{ kamailio_db_user }}:{{ kamailio_db_pass }}@{{ kamailio_db_host }}:{{ kamailio_db_port }}/{{ kamailio_db_name }}"

#!substdef "!MY_IP_ADDRESS!{{ kamailio_internal_interface }}!g"
#!substdef "!MY_IP_ADDRESS_INTERNAL!{{ kamailio_internal_interface }}!g"
#!substdef "!MY_IP_ADDRESS_EXTERNAL!{{ kamailio_external_interface }}!g"

port=5060

{% if kamailio_internal_interface != kamailio_external_interface %}
listen={{ kamailio_internal_interface }}
{% endif %}
listen=udp:{{ kamailio_external_interface }}:5060 advertise {{ kamailio_public_ip }}:5060
listen=tls:{{ kamailio_external_interface  }}:443 advertise {{ kamailio_public_ip  }}:443

debug={{ kamailio_debug }}

## this variable define the functionnalities to be enabled
## 3 values :
## - APP_SBC : pure sbc
## - APP_B2BUA
## - APP_EDP : edge point, bridge between webrtc and sip endpoints
#!define APP_{{ kamailio_app }}

#!define RTPENGINE_LIST "{% for rtp_engine_server in rtp_engine_servers %}{{ rtp_engine_server }}{% endfor %}"

#!define WITH_WSS
#!define WITH_TLS
#!define WITH_ANTIFLOOD
#!define WITH_REGISTRAR
