[server:default]
method = TLSv1
verify_certificate = yes
require_certificate = no
private_key = /etc/certs/demoCA/openstack.wazo.io/key.pem
certificate = /etc/certs/demoCA/openstack.wazo.io/cert.pem
#ca_list = /etc/certs/demoCA/cert.pem

[client:default]
verify_certificate = no
require_certificate = no
