[server:default]
method = TLSv1
verify_certificate = yes
require_certificate = no
private_key = {{ edp_certs_directory }}/key.pem
certificate = {{ edp_certs_directory }}/cert.pem
#ca_list = {{ edp_certs_directory }}/cert.pem

[client:default]
verify_certificate = no
require_certificate = no
