cluster_formation.peer_discovery_backend = rabbit_peer_discovery_consul

cluster_formation.consul.host = {{ wazo_consul_host }}
cluster_formation.consul.port = {{ wazo_consul_port }}
cluster_formation.consul.scheme = {{ wazo_consul_scheme }}
