wazo-router-confd wazo-router-confd/db-skip boolean false
wazo-router-confd wazo-router-confd/db-host string {{ router_db_host }}
wazo-router-confd wazo-router-confd/db-port string {{ router_db_port }}
wazo-router-confd wazo-router-confd/db-app-name string {{ router_db_confd_name }}
wazo-router-confd wazo-router-confd/db-app-username string {{ router_db_confd_user }}
wazo-router-confd wazo-router-confd/db-app-password password {{ router_db_confd_password }}
wazo-router-confd wazo-router-confd/db-admin-username string {{ router_db_admin_user }}
wazo-router-confd wazo-router-confd/db-admin-password password {{ router_db_admin_password }}
