# $Id$
# dispatcher destination sets
#

# line format
# setit(int) destination(sip uri) flags(int,opt) priority(int,opt) attributes(str,opt)

# Class 5 wazo servers
{% for class5_wazo_server in class5_wazo_servers %}
3 sip:{{ class5_wazo_server }}:5060
{% endfor %}

# sip_router servers
{% for sipr_server in sipr_servers %}
2 sip:{{ sipr_server }}:5060
{% endfor %}


# SBC servers
{% for sbc_server in sbc_servers %}
1 sip:{{ sbc_server }}:5060
{% endfor %}

# Carrier servers
{% for carrier_server in carrier_servers %}
11 sip:{{ carrier_server }}:5060
4 sip:{{ carrier_server }}:5060
{% endfor %}
