wazo-deployd wazo-deployd/db-skip boolean false
wazo-deployd wazo-deployd/db-host string {{ nestbox_db_host }}
wazo-deployd wazo-deployd/db-port string {{ nestbox_db_port }}
wazo-deployd wazo-deployd/db-app-name string {{ nestbox_db_deployd_name }}
wazo-deployd wazo-deployd/db-app-username string {{ nestbox_db_deployd_user }}
wazo-deployd wazo-deployd/db-app-password password {{ nestbox_db_deployd_password }}
wazo-deployd wazo-deployd/db-admin-username string {{ nestbox_db_admin_user }}
wazo-deployd wazo-deployd/db-admin-password password {{ nestbox_db_admin_password }}
