[rtpengine]
interface={{ rtpengine_interface }}!{{ rtpengine_public_address }}
foreground=true
log-stderr=true
listen-ng={{ rtpengine_listen_ng }}
port-min={{ rtpengine_port_min }}
port-max={{ rtpengine_port_max }}
recording-dir=/tmp
recording-method=pcap
recording-format=eth
log-level=6
delete-delay=0
