xivo-manage-db xivo-manage-db/db-skip boolean false
xivo-manage-db xivo-manage-db/db-host string {{ engine_api_db_host }}
xivo-manage-db xivo-manage-db/db-port string {{ engine_api_db_port }}
xivo-manage-db xivo-manage-db/db-app-name string {{ engine_api_db_confd_name }}
xivo-manage-db xivo-manage-db/db-app-username string {{ engine_api_db_confd_user }}
xivo-manage-db xivo-manage-db/db-app-password password {{ engine_api_db_confd_password }}
xivo-manage-db xivo-manage-db/db-admin-username string {{ engine_api_db_admin_user }}
xivo-manage-db xivo-manage-db/db-admin-password password {{ engine_api_db_admin_password }}
