https:
  certificate: /usr/share/xivo-certs/server.crt
  private_key: /usr/share/xivo-certs/server.key

auth:
  host: {{ engine_api_host }}
  port: {{ engine_api_port }}
  prefix: /api/auth
  verify_certificate: false

confd:
  host: {{ engine_api_host }}
  port: {{ engine_api_port }}
  prefix: /api/confd
  verify_certificate: false
