[DEFAULT]
database_uri = postgresql://{{ router_api_db_user }}:{{ router_api_db_password }}@{{ router_api_db_host }}:{{ router_api_db_port }}/{{ router_api_db_name }}
redis_uri = redis://{{ router_api_redis_host }}:{{ router_api_redis_port }}/{{ router_api_redis_database }}
