{% if kamailio_routing_api_endpoint is defined and kamailio_routing_api_endpoint %}
/* add API address used for routing */
#!define HTTP_API_ROUTING_ENDPOINT "{{ kamailio_routing_api_endpoint }}"
{% endif %}

{% if kamailio_cdr_api_endpoint is defined and kamailio_cdr_api_endpoint %}
/* add API address used for CDRs */
#!define HTTP_API_CDR_ENDPOINT "{{ kamailio_cdr_api_endpoint }}"
{% endif %}

/* add API http timeout */
#!define HTTP_API_TIMEOUT 5000

/* set the list of RTPengine instances */
#!define RTPENGINE_LIST "{{ kamailio_rtpengine_list }}"

/* add listen protocol, address and port / advertise (optional) */
{% if kamailio_advertise_address is defined and kamailio_advertise_address and kamailio_advertise_port is defined and kamailio_advertise_port %}
#!define LISTEN udp:{{ kamailio_interface }}:5060 advertise {{ kamailio_advertise_address }}:{{ kamailio_advertise_port }}
{% else %}
#!define LISTEN udp:{{ kamailio_interface }}:5060
{% endif %}