uuid: undefined
enabled_backend_plugins:
  xivo_admin: false
  xivo_service: false
  ldap_user: false
service_discovery:
  enabled: false
rest_api:
  https:
    certificate: /etc/wazo-router/https/public-certificate.pem
    private_key: /etc/wazo-router/https/private-key.pem
